<div class="login-modal">
  <!-- Modal -->
  <div class="modal fade" id="login-modal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 style="color:red;"><span class="glyphicon glyphicon-lock"></span> เข้าสู่ระบบ</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <button type="button" ng-click="loginFB()" class="btn btn-default btn-primary btn-block btn-lg">เข้าระบบด้วย Facebook</button>
          </div>
          <p class="center-separator">OR</p>
          <form role="form" ng-submit="login(formData)">
            <div class="form-group">
              <label for="email"><span class="glyphicon glyphicon-user"></span> อีเมล์สมาชิก</label>
              <input type="text" ng-model="formData.email" class="form-control" id="email" placeholder="พิมพ์อีเมล์">
            </div>
            <div class="form-group">
              <label for="pwd"><span class="glyphicon glyphicon-eye-open"></span> รหัสผ่าน</label>
              <input type="text" ng-model="formData.pwd" class="form-control" id="pwd" placeholder="พิมพ์รหัสผ่าน">
            </div>
            <div class="checkbox">
              <label><input type="checkbox" style="margin-top: 10px;" value="" checked>Remember me</label>
            </div>
            <button type="submit" class="btn btn-default btn-outline btn-primary btn-block"><span class="glyphicon glyphicon-off"></span> เข้าสู่ระบบ</button>
          </form>
        </div>
        <div class="modal-footer clearfix">
          <button type="submit" class="btn btn-default btn-outline pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> ยกเลิก</button>
          <p>ไม่ใช่สมาชิก? <a href="#">สมัครเลย</a></p>
          <p>ลืม <a href="#">รหัสผ่าน?</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
