.login-modal {
  font-size: 20px;
  .modal-header, h4, .close {
    background-color: @red;
    color:white !important;
    text-align: center;
    font-size: 30px;
  }
  .modal-footer {
    background-color: @lightred01;
  }
  .center-separator {
    text-align: center;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
  }
}
