<div class="register-box container">
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group required pull-right">
            <label for="email">อีเมล</label>
            <input type="email" value="" name="email" id="email" placeholder="name@example.com">
            <div class="error-notice"></div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group pull-right">
            <label for="email">อีเมล2</label>
            <input type="email" value="" name="email" id="email" placeholder="name@example.com">
            <div class="error-notice"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      Upload pic
    </div>
  </div>
</div>
