<div class="register-box">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="header-title">ให้เราช่วยคุณฟ้อง</h2>
      </div>
      <form name="cForm" novalidate class="form">
        <div class="col-sm-8">
          <div class="col-sm-12">
            <div class="form-group required half">
              <label for="first_name">ชื่อ</label>
              <input type="text" ng-model="submitData.first_name" required id="first_name" placeholder=" ชื่อ">
            </div>
            <div class="form-group required half">
              <label for="last_name">นามสกุล</label>
              <input type="text" ng-model="submitData.last_name" required id="last_name" placeholder=" นามสกุล">
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group required half">
              <label for="email">อีเมล</label>
              <input type="email" ng-model="submitData.email" name="uEmail" required id="email" placeholder=" name@example.com">
              <!-- <div ng-show="cForm.$submitted || cForm.uEmail.$touched" class="error-notice">
                <span ng-show="cForm.uEmail.$error.email">This is not a valid email<span>
              </div> -->
            </div>
            <div class="form-group required half">
              <label for="tel">โทรศัพท์มือถือ</label>
              <input type="tel" ng-model="submitData.mobile" required id="mobile" placeholder=" 0812345678">
              <div class="error-notice"></div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group required half">
              <label for="text">อยากฟ้องใคร บอกหน่อย <span class="icon-popover"><i class="fa fa-info-circle" aria-hidden="true" data-toggle="popover" title="อยากฟ้องใคร บอกหน่อย" data-placement="top" data-trigger="hover" data-content=" บอกชื่อ บริษัท องค์กรหรือหน่วยงานที่ต้องการร้องเรียนให้เราทราบด้วย"></i></span></label>
              <input type="accused" ng-model="submitData.accused" required id="accused" placeholder=" ชื่อที่ต้องการร้องเรียน">
              <div class="error-notice"></div>
            </div>
            <div class="form-group required half">
              <label for="text">ค่าเสียหายที่อยากได้</label>
              <input type="damages" ng-model="submitData.damages" id="damages" placeholder=" เช่น 200000">
              <div class="error-notice"></div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group required full">
              <label for="text">อยากฟ้องอะไร เล่าได้ <span class="icon-popover"><i class="fa fa-info-circle" aria-hidden="true" data-toggle="popover" title="อยากฟ้องอะไร เล่าได้" data-placement="top" data-trigger="hover" data-content=" เล่ารายละเอียดเกี่ยวกับความเดือดร้อน หรือความเสียหายที่ได้รับจากการซื้อสินค้า หรือใช้บริการ พร้อมระบุวันเวลาที่เกิดเหตุมาด้วยนะครับ เช่น ผมไปซื้อรถยนต์ยี่ห้อxxx มูลค่า 1,000,000 บาท เมื่อวันที่ 1 มี.ค. 2559 จาก yyy มาแล้ว ปรากฎว่าขับไปได้เพียง 3 เดือน แอร์พังโดยไม่ทราบสาเหตุ และทางบริษัทก็ปฏิเสธไม่รับผิดชอบใดๆ เลย"></i></span></label>
              <textarea type="textarea" ng-attr-rows="{{textRows || '2'}}" ng-focus="textRows=5;" ng-change="showCatalog= !!submitData.info;" ng-model="submitData.info" placeholder=" เล่าเรื่องราวของคุณให้เราฟัง"></textarea>
              <div class="error-notice"></div>
            </div>
          </div>
          <div class="col-sm-12" ng-show="showCatalog">
            <label for="radios">ประเภทของปัญหา</label>
            <div id="radios" class="radios">
              <label class="radio-inline">
                <input type="radio" ng-model="submitData.catalog" value="residences"> บ้าน คอนโด
              </label>
              <label class="radio-inline">
                <input type="radio" ng-model="submitData.catalog" value="creditcard"> บัตรเครดิต
              </label>
              <label class="radio-inline">
                <input type="radio" ng-model="submitData.catalog" value="loans"> เงินกู้
              </label>
              <label class="radio-inline">
                <input type="radio" ng-model="submitData.catalog" value="insurance"> ประกัน
              </label>
              <label class="radio-inline">
                <input type="radio" ng-model="submitData.catalog" value="beautyclinic"> สถานเสริมความงาม
              </label>
              <label class="radio-inline">
                <input type="radio" ng-model="submitData.catalog" value="cosmetics"> เครื่องสำอางค์
              </label>
              <label class="radio-inline">
                <input type="radio" ng-model="submitData.catalog" value="drugs"> ยาต่าง ๆ
              </label>
              <label class="radio-inline">
                <input type="radio" ng-model="submitData.catalog" value="others"> อื่น ๆ
              </label>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="upload-image">
            <label for="file-input">
              <img src="/assets/images/sys/photo_upload.png" />
            </label>
            <input id="file-input" type="file" nv-file-select="" uploader="uploader" multiple /><br/>
          </div>
          <div class="upload-text">ส่งรูปหลักฐาน <span class="icon-popover"><i class="fa fa-info-circle" aria-hidden="true" data-toggle="popover" title="ส่งรูปหลักฐาน" data-placement="top" data-trigger="hover" data-content="ส่งหลักฐานที่เป็นรูปภาพมาให้เรา โดยขนาดของไฟล์มีขนาดไม่เกิน 1MB"></i></span></div>
          <table class="table">
            <thead ng-if="uploader.queue.length > 0">
              <tr>
                <th width="50%">Name</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in uploader.queue">
                <td>
                  <strong>{{ item.file.name }}</strong>
                </td>
                <td class="text-center">
                  <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                  <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                  <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                </td>
                <td nowrap>
                  <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                    <span class="glyphicon glyphicon-upload"></span> Upload
                  </button>
                  <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                    <span class="glyphicon glyphicon-trash"></span> Remove
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-12">
          <div class="submit-button" ng-click="submitComplaint()"><button type="button" class="btn btn-primary">ส่งฟ้อง</button></div>
           <p style="text-align: center; margin-top: 10px;">นโยบายคุ้มครองข้อมูลส่วนบุคคล <span class="icon-popover"><i class="fa fa-info-circle" data-toggle="popover" title="นโยบายคุ้มครองข้อมูลส่วนบุคคล" data-placement="top" data-trigger="hover" data-content="“ฟ้องได้” จะเก็บรักษาข้อมูลส่วนบุคคลของท่านไว้เป็นความลับ เว้นแต่เป็นการเปิดเผยในส่วนของรายละเอียดที่เกี่ยวกับการฟ้องร้องคดี ที่ทางฟ้องได้จะต้องขอรับคำปรึกษาจากนักกฎหมายหรือทนายความที่ได้เกี่ยวข้องและมีการทำสัญญารักษาความลับกับ “ฟ้องได้” แล้วเท่านั้น"></i></span></p>
        </div>
      </form>
    </div>
  </div>
</div>
