.register-box {
  width: 100%;
  min-width: @minWidth;
  margin: 0 auto;
  height: 100%;
  padding: 10px 0px 20px 0px;
  background-color: @red;
  color: white;

  .header-title {
    font-size: 48px;
    text-align: center;
  }

  .half {
    display: inline-block;
    width: 48%;
  }

  .full {
    width: 96%;
  }

  .form-group {
    padding: 0px 5px;
    input {
      color: black;
      width: 100%;
    }
    textarea {
      resize: vertical;
      color: black;
      width: 100%;
      .transition(all 0.5s ease);

      &:focus {
        background: @grey01;
      }
    }
  }
  .upload-image {
    text-align: center;
    img {
      width: 250px;
    }
  }

  div.submit-button {
    text-align: center;
    button {
      width: 150px;
      font-size: x-large;
    }
  }
  .icon-popover {
    curson: pointer;
    .popover {
      .popover-title {
        color: white;
        font-weight: bold;
        letter-spacing: 4px;
        background-color: @red;
      }
      .popover-content {
        color: @red;
      }
    }
  }

  .checkboxes {
    margin: auto auto 15px 10px;
  }
}
