.register-box {
  width: 100%;
  min-width: @minWidth;
  margin: 0 auto;
  height: 100%;
  padding: 10px 0px 20px 0px;
  background-color: @red;
  color: white;

  .header-title {
    font-size: 40px;
    text-align: center;
  }

  .half {
    display: inline-block;
    width: 48%;
  }

  .full {
    width: 96%;
  }

  .form-group {
    padding: 0px 5px;
    input {
      color: black;
      width: 100%;
    }
    textarea {
      resize: vertical;
      color: black;
      width: 100%;
      .transition(all 0.5s ease);

      &:focus {
        background: @grey01;
      }
    }
  }
  .upload-image {
    text-align: center;
    img {
      padding: 3px;
      cursor: pointer;
      max-width: 230px;
      width: 100%;
      &:hover {
        border:3px dashed @grey01;
        padding: 0px!important;
      }
    }
    > input {
      display: none;
    }
  }

  canvas {
    background-color: #f3f3f3;
    -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
    -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
    box-shadow: 3px 3px 3px 0 #e3e3e3;
    border: 1px solid #c3c3c3;
    height: 100px;
    margin: 6px 0 0 6px;
  }

  div.submit-button {
    text-align: center;
    button {
      width: 150px;
      font-size: x-large;
    }
  }
  .icon-popover {
    curson: pointer;
    .popover {
      .popover-title {
        color: white;
        font-weight: bold;
        letter-spacing: 4px;
        background-color: @red;
      }
      .popover-content {
        color: @red;
      }
    }
  }

  .checkboxes {
    margin: auto auto 15px 10px;
  }
}
