.article-display {
  padding: 30px;
  .image-large {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    opacity: 1;
    visibility: inherit;
    z-index: 20;
  }
  .header {
    h2 {
      font-size: 28px;
      padding: 0px 20px;
      font-family: 'AdobeDevanagari-BoldItalic';
      line-height: 30px;
      margin-bottom: 6px;
      color: @red;
    }
  }
  .blank-space {
    padding-bottom: 25px;
  }
  .wrapper {
    position: relative;
    img {
      width: 300px;
      height: 200px;
      @media (max-width: 600px) {
        width: auto;
        height: auto;
      }
      border-radius: 5px;
      &.alignleft {
        float: left;
        margin: 5px 10px 20px 10px;
      }
      &.alignright {
        float: right;
        margin: 5px 10px 20px 10px;
      }
    }
    h4 {
      font-size: 24px;
      font-family: 'AdobeDevanagari-BoldItalic';
      line-height: 29px;
      margin-bottom: 12px;
      color: @red;
    }
    .image-wrap {
      display: inline-block;
    }
    p {
      line-height: 25px;
    }
  }
}
