.article-display {
  .image-large-container {
    text-align: center;

    .image-large {
      width: 80%;
      height: 50%;
      border-radius: 5px;
      @media screen and (max-width: @navMaxWidth) {
        width: 100%;
        border-radius: 0;
      }
      opacity: 1;
      visibility: inherit;
      z-index: 20;
    }
  }
  .social-container {
    margin-top: 20px;
    > div {
      margin-bottom: 10px;
      @media (max-width: @screen-sm-max) {
        text-align: center;
      }
    }
  }
  .header {
    h2 {
      font-size: 28px;
      padding: 0px 20px;
      font-weight: bold;
      line-height: 30px;
      margin-bottom: 6px;
      color: @red;
    }
  }
  .blank-space {
    padding-bottom: 10px;
  }
  .wrapper {
    position: relative;
    img {
      width: 300px;
      height: 200px;
      @media (max-width: 600px) {
        width: auto;
        height: auto;
      }
      border-radius: 5px;
      &.alignleft {
        float: left;
        margin: 5px 10px 20px 10px;
      }
      &.alignright {
        float: right;
        margin: 5px 10px 20px 10px;
      }
    }
    h4 {
      font-size: 24px;
      font-weight: bold;
      line-height: 29px;
      margin-bottom: 12px;
      color: @red;
    }
    .image-wrap {
      display: inline-block;
    }
    p {
      line-height: 25px;
    }
  }

  .author-containerS {
    .displayFlex(inline-flex);
    padding: 10px 30px;

    img {
      cursor: pointer;
      height: 48px;
    }
    .name {
      padding: 0 20px;
      font-size: 28px;
      font-weight: bold;
      color: @grey05;
    }

    @media (max-width: @screen-sm-max) {
      .flex-direction(column-reverse);
      img {
        height: auto;
        width: 72px;
        margin: auto;
      }
    }
  }

  .icons-social {
    .displayFlex(inline-flex);
    padding: 10px 30px;
    .icon {
      .flex;
      .icon-wrap {
        .displayFlex(inline-flex);
        padding-right: 20px;
        > * {
          padding-right: 20px;
        }
        img {
          cursor: pointer;
          height: 48px;
        }
        .amount {
          font-size: 28px;
          font-weight: bold;
          &.fb {
            color: #3b5998;
          }
          &.tw {
            color: #4099ff;
          }
          &.gp {
            color: #d34836;
          }
        }

        @media (max-width: @screen-xs-max) {
          img {
            height: 30px;
          }
          .amount {
            font-size: 24px;
          }
        }
      }
    }
  }

  .author-container {
    background-color: @lightred03;
    min-height: 150px;
    .block {
      display: inline-block;
      vertical-align: middle;
      margin: 20px;

      &.desc {
        max-width: 50%;
      }

      h4 {
        font-size: 24px;
        font-weight: bold;
        line-height: 29px;
        margin-bottom: 12px;
      }
      p {
        letter-spacing: 0px;
      }
    }
    .author-image {
      height: 100px;
    }
  }
  .error-box {
    text-align: center;
    padding: 20px;
    font-size: 32px;
    color: @red;
  }
}
