.article-display {
  background: #415463;
  color: white;
  padding: 10px;
  .header {
    h2 {
      font-size: 28px;
      padding: 0px 20px;
      font-family: 'AdobeDevanagari-BoldItalic';
      line-height: 30px;
      margin-bottom: 6px;
      color: @red;
    }
  }
  .wrapper {
    position: relative;
    img {
      width: 300px;
      height: 200px;
      &.alignleft {
        float: left;
        margin: 5px 20px 20px 0px;
      }
    }
    h4 {
      font-size: 24px;
      font-family: 'AdobeDevanagari-BoldItalic';
      line-height: 29px;
      margin-bottom: 12px;
      color: @red;
    }
  }
}