<update-meta name="Title" content="{{data.headlineText}} | FongDi ฟ้องได้ รวมฟ้องกลุ่มง่ายๆ ไม่เสียค่าใช้จ่าย ได้ความเป็นธรรม "></update-meta>
<update-meta property="og:title" content="{{data.headlineText}} | FongDi ฟ้องได้ รวมฟ้องกลุ่มง่ายๆ ไม่เสียค่าใช้จ่าย ได้ความเป็นธรรม "></update-meta>
<update-meta name="description" content="{{data.briefText}} | FongDi ฟ้องได้"></update-meta>
<update-meta property="og:description" content="{{data.briefText}} | FongDi ฟ้องได้"></update-meta>
<update-meta itemprop="description" content="{{data.briefText}} | FongDi ฟ้องได้"></update-meta>
<update-meta name="keywords" content="fongdi, ฟ้องดิ, ฟ้องได้, กฎหมายน่ารู้, คดีผู้บริโภค, บทความ"></update-meta>
<div class="article-display">
  <div ng-show="dataReady && !errorMsg" class="article-container">
    <div class="container">
      <div class="row">
        <div class="header">
          <h2>{{data.headlineText}}</h2>
        </div>
        <div class="image-large-container">
          <img class="image-large" src="{{data.img}}"></img>
        </div>
        <div class="row social-container">
          <div class="col-md-8 col-sm-12">
            <div class="icons-social">
              <div class="icon">
                <div class="icon-wrap">
                  <img src="/assets/images/sys/social_fb.png">
                  <div class="amount fb">22</div>
                </div>
              </div>
              <div class="icon">
                <div class="icon-wrap">
                  <img src="/assets/images/sys/social_twitter.png">
                  <div class="amount tw">22</div>
                </div>
              </div>
              <div class="icon">
                <div class="icon-wrap">
                  <img src="/assets/images/sys/social_gplus.png">
                  <div class="amount gp">22</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="author-containerS">
              <div class="name">Lorem Ipsum</div>
              <img class="author-imageS" src="{{authorImageS}}">
            </div>
          </div>
        </div>
        <div class="col-md-12 col-xs-12">
          <div class="wrapper">
            <h4>{{data.briefText}}</h4>
            <p class="blank-space"></p>
            <div ng-bind-html="detail"></div>
            <p class="blank-space"></p>
          </div>
        </div>
      </div>
    </div>
    <section id="author">
      <div class="author-container">
        <div class="container">
          <div class="row">
            <div class="block"><img class="author-image" src="{{authorImage}}"></div>
            <div class="block desc">
              <h4>Mr. Lorem Ipsum</h4>
              <p>Lerem Ipsum ลอเรม อิปซั่ม Lerem Ipsum ลอเรม อิปซั่ม Lerem Ipsum ลอเรม อิปซั่ม Lerem Ipsum ลอเรม อิปซั่ม</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div ng-show="errorMsg" class="error-box"">ไม่พบบทความนี้</div>
</div>
