.sitemap {
  color: white;
  a, a:visited, a:link, a:active {
    text-decoration: none;
    color: @grey02;
  }
  .sitemap-content {
    min-height: 270px;
    padding-top: 20px;
    padding-bottom: 20px;
    .column-block {
      margin: 20px auto 20px auto;
      div {
        margin-bottom: 5px;
      }
    }
    .header {
      font-size: 22px;
      .logo {
        width: 40px;
      }
    }
  }
  .icon {
    font-size: 28px;
    margin: 5px;
    width: 28px;
    height: 28px;
    &.fa:hover {
      color: @red;
    }
  }
  .line-icon {
    height: 28px;
    border: 0;
    margin: 5px 5px 18px 5px;
  }
  .reserved {
    font-size: 16px;
  }
}
