<div class="sitemap container">
  <div class="sitemap-content">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-sm-4 column-block">
            <div class="header">LOREM IPSUM</div>
            <div>หกกฟนกททกนเามกบแกยพม หหหสม</div>
          </div>
          <div class="col-sm-4 column-block">
            <div class="header">โลเรม อิปซั่ม</div>
            <div>หกกฟนกททกนเามกบแกยพม หหหสม</div>
          </div>
          <div class="col-sm-4 column-block">
            <div class="header">สมัครรับข่าวสาร</div>
            <div></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 column-block">
        <div class="fb-page" data-href="https://www.facebook.com/FongDi/" data-width="280" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/FongDi/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/FongDi/">FongDi - ฟ้องได้</a></blockquote></div>
      </div>
    </div>
  </div>
  <div class="reserved">© 2016 FongDi. All right reserved.  |  <a href="/legal-notice">Legal Notice</a>  |  <a href="/contactus">Contact Us</a></div>
</div>