<div class="sitemap container">
  <div class="sitemap-content">
    <div class="row clearfix">
      <div class="col-md-8">
        <div class="row">
          <div class="col-xs-6 col-sm-4 column-block">
            <div class="header"><img class="logo" alt="ฟ้องได้" src="../assets/images/logo_red.png"> ฟ้องได้</div>
            <div><a href="/">หน้าแรก</a></div>
            <div><a href="/cases/s/all">ร่วมฟ้อง</a></div>
            <div><a href="/news/catalog/all">กฏหมายน่ารู้</a></div>
            <div><a href="/faqs">ถามได้</a></div>
          </div>
          <div class="col-xs-6 col-sm-4 column-block">
            <div class="header">ติดตามเราได้ที่</div>
            <a href="https://www.facebook.com/FongDi" title="ติดตาม 'ฟ้องได้' บน Facebook"><i class="icon fa fa-facebook-official"></i></a>
            <a href="http://line.me/ti/p/%40fongdi" title="แชท LINE กับเราได้ที่ @fongdi"><img class="line-icon" alt="แชท LINE กับเราได้ที่ @fongdi" src="../assets/images/sys/social_line.png"></a>
          </div>
          <!-- <div class="col-xs-12 col-sm-4 column-block">
            <div class="header">สมัครรับข่าวสาร</div>
            <div>
              <input type="subscribe" ng-model="subscribe" id="subscribe" placeholder="email ของท่าน">
              <input type="submit" class="btn btn-default btn-sm" value="ส่ง">
            </div>
          </div> -->
          <div id="seen-us-on" class="col-xs-12 col-sm-4 column-block">
            <div class="header">พบกับเราได้บน</div>
            <a target="_blank" href="http://news.ch7.com/detail/207404/รายงานพิเศษ_คลิกเดียวก็ฟ้องได้.html" title="รายงานพิเศษ: คลิกเดียวก็ “ฟ้องได้” บน TV ช่อง 7"><img class="icon" alt="พบ ฟ้องได้ บน ช่อง 7" src="../assets/images/sys/relates/ch7.png"></a>
            <a target="_blank" href="https://program.thaipbs.or.th/watch/8epbOR" title="สกู๊ปพิเศษ “ฟ้องได้” รวมกลุ่มฟ้องร้องง่ายๆ ไม่เสียค่าใช้จ่าย แต่ได้ความเป็นธรรม บน รายการนารีกระจ่าง ThaiPBS TV"><img class="icon" alt="พบ ฟ้องได้ บน ThaiPBS" src="../assets/images/sys/relates/tpbs.png"></a>
            <a target="_blank" href="http://news.voicetv.co.th/business/449370.html" title="สกู๊ปข่าวพิเศษ“ฟ้องได้.คอม”ช่องทางฟ้องทรูวิชันส์ยกเลิก HBO บน Voice TV"><img class="icon" alt="พบ ฟ้องได้ บน VoiceTV" src="../assets/images/sys/relates/VoiceTV.png"></a>
            <a target="_blank" href=" http://shows.voicetv.co.th/wakeup-thailand-weekend/449601.html" title="รายการ Wakeup Weekends:สมาชิกรวมกลุ่มฟ้องทรูวิชั่นส์สิ้นเดือนนี้ บน VoiceTV"><img class="icon" alt="พบ ฟ้องได้ บน VoiceTV" src="../assets/images/sys/relates/Wakeup Weekends.jpg"></a>
            <a target="_blank" href=" http://www.bangkokpost.com/news/general/1175969/truevisions-may-face-crowd-suit" title="TrueVisions may face class-action lawsuit บน Bangkokpost"><img class="icon" alt="พบ ฟ้องได้ บน Bangkokpost" src="../assets/images/sys/relates/BangkokPost.png"></a>
            <a target="_blank" href="http://www.prachachat.net/news_detail.php?newsid=1484051753" title="ทรูวิชั่นส์ เบี้ยวเข้าชี้แจงผู้บริโภค 'สุภิญญา' เผยสมาชิกกว่า 1,000 รายจ่อฟ้อง บน ประชาชาติธุกิจ"><img class="icon" alt="พบ ฟ้องได้ บน ประชาชาติธุกิจ" src="../assets/images/sys/relates/prachachat.png"></a>

            <a target="_blank" href="http://www.khaosodenglish.com/news/business/2017/01/10/go-battle-class-action-lawsuit-startup-fongdi/" title="GO TO BATTLE WITH CLASS-ACTION LAWSUIT STARTUP ‘FONGDI’ บน khaosodenglish"><img class="icon" alt="พบ ฟ้องได้ บน khaosodenglish" src="../assets/images/sys/relates/khaosodeng.png"></a>
            <a target="_blank" href="http://www.matichon.co.th/news/422933" title="พรุ่งนี้ “ทรูวิชั่นส์” เปิดชี้แจงเองเหตุยกเลิกช่อง HBO หลัง“สุภิญญา” เผยมีสมาชิกกว่า 1,000 รายจ่อฟ้อง บน มติชน"><img class="icon" alt="พบ ฟ้องได้ บน มติชน" src="../assets/images/sys/relates/matichon.png"></a>
            <a target="_blank" href="http://www.dailynews.co.th/it/548073" title="สมาชิกทรู วิชั่นส์รวมตัวฟ้องศาลแพ่งขอลดค่าแพ็คเกจ บน เดลินิวส์"><img class="icon" alt="พบ ฟ้องได้ บน เดลินิวส์" src="../assets/images/sys/relates/Dailynews.png"></a>
            <a target="_blank" href="http://www.thaipost.net/?q=ไม่รับเยียวยาลูกค้าฟ้องทรูวิชั่นส์" title="ไม่รับเยียวยาลูกค้าฟ้องทรูวิชั่นส์ บน ไทยโพสต์"><img class="icon" alt="พบ ฟ้องได้ บน ไทยโพสต์" src="../assets/images/sys/relates/thaipost.png"></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 column-block pull-right">
        <div class="fb-page"
          data-href="https://www.facebook.com/FongDi/"
          data-width="280"
          data-small-header="true"
          data-adapt-container-width="false"
          data-hide-cover="false"
          data-show-facepile="true">
          <blockquote cite="https://www.facebook.com/FongDi/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/FongDi/">FongDi - ฟ้องได้</a></blockquote>
        </div>
      </div>
    </div>
  </div>
  <div class="reserved">© 2017 FongDi. All right reserved.<!--  |  <a href="/legal-notice">Legal Notice</a>  |  <a href="/contactus">Contact Us</a>--></div>
</div>
