<header ng-class="{'bg-red' : bgRed}" ng-hide="hideMenu">
  <div class="cd-logo">
    <a class="logo" href="/">
      <span class="icon-container"><img alt="ฟ้องได้" ng-src="../assets/images/logo_{{theme}}.png" alt="FongDi ฟ้องได้"></span>
    </a>
  </div>
  <div class="search-responsive" ng-class="{ 'expand-search': expandSearch }" ng-click="expandSearch = true;">
    <search-box expanding="{{expandSearch}}"></search-box>
  </div>
  <nav class="cd-main-nav-wrapper">
    <ul class="cd-main-nav" ng-class="{'bg-red' : bgRed}">
      <!-- <li><a href="#" data-toggle="modal" data-target="#login-modal">Login</a></li> -->
      <li><a href="/">หน้าแรก</a></li>
      <li><a href="/cases/s/all">ร่วมฟ้อง</a></li>
      <li><a href="/news/catalog/all">กฎหมายน่ารู้</a></li>
      <li><a href="/faqs">ถามได้</a></li>
    </ul> <!-- .cd-main-nav -->
  </nav> <!-- .cd-main-nav-wrapper -->

  <a href="#0" class="cd-nav-trigger" ng-class="{'bg-red' : bgRed}" ng-click="expandSearch = false;"><span></span></a>
</header>

<div class="simple-header" ng-class="{'bg-red' : bgRed}" ng-hide="hideMenu">
  <div class="top-section">
    <a class="logo" href="/">
      <span class="icon-container"><img alt="ฟ้องได้" ng-src="../assets/images/logo_{{theme}}.png" alt="FongDi ฟ้องได้"></span>
    </a>
    <div class="search-container clearfix">
      <search-box></search-box>
    </div>
  </div>
  <div class="container menu-container">
    <div class="row">
      <div class="col-sm-1 col-md-2 col-lg-3"></div>
      <ul class="menu col-xs-12 col-sm-10 col-md-8 col-lg-6">
        <li class="menu-item"><a href="/">หน้าแรก</a></li>
        <li class="menu-item"><a href="/cases/s/all">ร่วมฟ้อง</a></li>
        <li class="menu-item"><a href="/news/catalog/all">กฎหมายน่ารู้</a></li>
        <li class="menu-item"><a href="/faqs">ถามได้</a></li>
      </ul>
      <div class="col-sm-1 col-md-2 col-lg-3"></div>
    </div>
  </div>
<!--   <div class="loginBtn-container">
    <button type="button" class="btn btn-primary btn-sharp" id="loginBtn" data-toggle="modal" data-target="#login-modal" title="เข้าสู่ระบบ">Login</button>
  </div> -->
</div>

<main ng-transclude class="cd-main-content">
</main>
