.simple-header {
  @navMaxWidth: 680px;
  background-color: white;
  color: @red;
  a, a:visited, a:link, a:active {
    text-decoration: none;
    color: @red;
  }

  a:hover {
    color: @red400!important;
  }

  &.bg-red {
    background-color: @red!important;
    color: white!important;
    a, a:visited, a:link, a:active {
      color: white!important;
    }

    a:hover {
      color: @grey02!important;
    }
  }
  .top-section {
    width: 100%;
    .displayFlex(inline-flex);
    padding-top: 5px;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    .logo {
      height: 100px;
      .icon-container > img {
        height: 100%;
      }
    }
    .search-container {
      position: absolute;
      width: 200px;
      margin-right: 5px;
      right: 10%;
    }
  }
  ul.menu {
    list-style-type: none;
    overflow: hidden;
    font-size: 24px;
    .displayFlex(inline-flex);
    li {
      .flex(1);
      text-align: center;
      white-space: nowrap;
      padding: 5px 5px;
    }

    li.menu-icon {
      display: none;
    }
  }

  @media screen and (max-width: @navMaxWidth) {
    .menu-container {
      position: absolute;
      top: 5px;
      right: 0;
    }

    .top-section {
      .justify-content(flex-start);
      .logo {
        height: 50px;
        padding-left: 10px;
      }
      .search-container {
        display: none;
      }
    }
    ul.menu {
      li.menu-item {
        display: none;
      }
      li.menu-icon {
        text-align: right;
        display: inline-block;
        .search {
          width: 36px;
          &.expand-search {
            .transition(all 0.3s ease);
            width: 250px;
          }
        }
      }

      &.expand-menu {
        * {
          .transition(all 0.3s ease);
        }
        position: relative;
        li.icon {
          position: absolute;
          right: 0;
          top: 0;
        }
        li {
          float: none;
          display: block;
        }
        li a {
          display: block;
          text-align: right;
        }
      }
    }
  }
}
