<div class="simple-header" ng-class="{'bg-red' : bgRed}">
  <div class="logo">
    <a style="height: 100px;" class="" href="#">
      <span class="icon"><img class="" style="height: 100%;" alt="Brand" ng-src="../assets/images/logo_{{theme}}.png"></span>
    </a>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-1 col-md-2 col-lg-3"></div>
      <div class="menu col-xs-12 col-sm-10 col-md-8 col-lg-6">
        <div class="menu-item"><a href="/">หน้าแรก</a></div>
        <div class="menu-item"><a href="/cases/s/all">ร่วมฟ้อง</a></div>
        <div class="menu-item"><a href="/news/catalog/all">กฎหมายน่ารู้</a></div>
        <div class="menu-item"><a href="/faqs">ถามได้</a></div>
      </div>
      <div class="col-sm-1 col-md-2 col-lg-3"></div>
    </div>
  </div>
</div>
