<div class="simple-header" ng-class="{'bg-red' : bgRed}">
  <div class="logo">
    <a class="navbar-brand" href="#">
      <span class="icon"><img class="spin-logo" alt="Brand" src="../assets/images/spinner.svg"></span>
    </a>
  </div>
  <div class="row">
    <div class="menu">
      <div class="col-md-4 col-xs-4"></div>
      <div class="menu">
        <div class="menu-item"><a href="/">หน้าแรก</a></div>
        <div class="menu-item"><a href="/cases/s/all">ร่วมฟ้องกับเรา</a></div>
        <div class="menu-item"><a href="/news/catalog/all">บทความน่ารู้</a></div>
        <div class="menu-item"><a href="/faqs">ถาม-ตอบ</a></div>
      </div>
      <div class="col-md-4 col-xs-4"></div>
    </div>
  </div>
</div>
