.cases-display {
  .header {
    h2 {
      font-size: 32px;
      font-weight: bold;
      line-height: 30px;
      margin-bottom: 12px;
      color: @red;
      @media (max-width: @screen-sm-max) {
        text-align: center;
      }
    }
    .image-large-container {
      text-align: center;

      .image-large {
        margin-top: 30px;
        border-radius: 5px;
        @media screen and (max-width: @navMaxWidth) {
          width: 100%;
          border-radius: 0;
        }
        opacity: 1;
        visibility: inherit;
        z-index: 20;
      }
    }
  }
  .blank-space {
    padding-bottom: 10px;
  }
  .detail-container {
    h2 {
    }
    .detail {
      font-family: sans-serif;
      font-size: 14px;
      h4 {
        font-family: initial;
        color: @red;
      }
      @media (max-width: 500px) {
        img {
          width: 100%!important;
          height: auto!important;
          border-radius: 0px;
        }
      }
    }
    .icons {
      width: 90%;
      max-width: 600px;
      font-size: 24px;
      .displayFlex(inline-flex);
      .icon {
        @iconMaxWidth: 350px;
        color: @red;
        .flex;
        margin-top: 25px;
        text-align: center;
        white-space: nowrap;
        padding: 5px 5px;
        .icon-wrap {
          position: relative;
          text-align: center;
          max-width: 150px;
          .amount {
            color: white;
            opacity: 0.7;
            background-color: @red;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            font-size: 24px;
            position: absolute;
            top: -5px;
            left: 5px;
            @media (max-width: @iconMaxWidth) {
              width: 28px;
              height: 28px;
              font-size: 18px;
            }
          }
        }
        .icon-link {
          &.link {
            cursor: pointer;
          }
          height: 54px;
          width: auto;

          @media (max-width: @iconMaxWidth) {
            height: 36px;
          }
        }
        .icon-desc {
          text-align: center;
          max-width: 150px;
          margin-top: -2px;
          font-size: 16px;
          letter-spacing: 0px;
        }
      }
    }
  }
  .wrapper {
    position: relative;
    img {
      width: 300px;
      height: 200px;
      @media (max-width: 600px) {
        width: auto;
        height: auto;
      }
      border-radius: 5px;
      &.alignleft {
        float: left;
        margin: 5px 10px 20px 10px;
      }
      &.alignright {
        float: right;
        margin: 5px 10px 20px 10px;
      }
    }
    h2 {
      font-size: 26px;
      font-weight: bold;
      line-height: 29px;
      margin-bottom: 12px;
      color: @red;
    }
    .image-wrap {
      display: inline-block;
    }
    p {
      line-height: 25px;
    }
  }

  .icons-social {
    .displayFlex(inline-flex);
    padding: 10px 0px;
    .icon {
      .flex;
      + div {
        padding-left: 20px;
      }
      .icon-wrap {
        .displayFlex(inline-flex);
        > * {
          padding-right: 20px;
        }
        img {
          cursor: pointer;
          height: 48px;
        }
        .amount {
          font-size: 28px;
          font-weight: bold;
          &.fb {
            color: #3b5998;
          }
          &.tw {
            color: #4099ff;
          }
          &.gp {
            color: #d34836;
          }
        }

        @media (max-width: @screen-xs-max) {
          img {
            height: 30px;
          }
          .amount {
            font-size: 24px;
          }
        }
      }
    }
  }
  .error-box {
    text-align: center;
    padding: 20px;
    font-size: 32px;
    color: @red;
  }
  .lang-switcher {
    position: fixed;
    bottom:-7px;
    right:5px;
    z-index: 1;
    .transition(all 0.5s ease);

    &:hover {
      bottom: 0px !important;
    }
  }
}
