<update-meta ng-if="dataReady" name="Title" content="ร่วมฟ้อง | {{data.headlineText}} | FongDi ฟ้องได้ รวมฟ้องกลุ่มง่ายๆ ไม่เสียค่าใช้จ่าย ได้ความเป็นธรรม "></update-meta>
<update-meta ng-if="dataReady" property="og:title" content="ร่วมฟ้อง | {{data.headlineText}} | FongDi ฟ้องได้ รวมฟ้องกลุ่มง่ายๆ ไม่เสียค่าใช้จ่าย ได้ความเป็นธรรม "></update-meta>
<update-meta ng-if="dataReady" name="description" content="{{data.briefText}} | FongDi ฟ้องได้"></update-meta>
<update-meta ng-if="dataReady" property="og:description" content="{{data.briefText}} | FongDi ฟ้องได้"></update-meta>
<update-meta ng-if="dataReady" property="og:image" content="http://www.fongdi.com{{data.img}}"></update-meta>
<update-meta ng-if="dataReady" itemprop="description" content="{{data.briefText}} | FongDi ฟ้องได้"></update-meta>
<update-meta ng-if="dataReady" name="keywords" content="fongdi, ร่วมฟ้อง, {{data.headlineText}}, ฟ้องได้, ฟ้องดิ, การดำเนินคดีแบบกลุ่ม, ฟ้องร้องคดีผู้บริโภค, class action"></update-meta>
<div class="cases-display">
  <div ng-if="dataReady && !errorMsg" class="article-container">
    <div class="container">
      <div class="row">
        <div class="header">
          <div class="image-large-container">
            <img class="image-large" src="{{data.img}}" alt="{{data.headlineText}}"></img>
          </div>
        </div>
        <div class="detail-container col-md-12 col-xs-12">
          <div class="wrapper">
            <div class="text-center">
              <h2>{{data.headlineText}}</h2>
              <div>{{data.briefText}}</div>
            </div>
            <h2>{{data.teaser}}</h2>
            <div class="text-center">
              <div class="icons">
                <div class="icon">
                  <div class="icon-wrap">
                    <div class="amount">{{sCount}}</div>
                    <img class="icon-link link" ng-click="scrollTo('case-form')" src="/assets/images/sys/icon_people.png">
                  </div>
                  <div class="icon-desc">ผู้ร่วมฟ้องขณะนี้</div>
                </div>
                <!-- <div class="icon">
                  <div class="icon-wrap"><img class="icon-link" ng-click="" src="/assets/images/sys/icon_comment.png"></div>
                  <div class="icon-desc">ความคิดเห็น</div>
                </div>
                <div class="icon">
                  <div class="icon-wrap">
                    <div class="amount">43</div>
                    <img class="icon-link" ng-click="" src="/assets/images/sys/icon_fighting.png"></i>
                  </div>
                  <div class="icon-desc">ให้กำลังใจ</div>
                </div> -->
                <div class="icon">
                  <div class="icon-wrap"><img class="icon-link link" ng-click="shareFB(code)" src="/assets/images/sys/icon_share.png"></div>
                  <div class="icon-desc">บอกต่อ</div>
                </div>
              </div>
            </div>
            <p class="blank-space"></p>
            <div class="detail" ng-bind-html="detail"></div>
            <p class="blank-space"></p>
          </div>
        </div>
      </div>
    </div>
    <case-form id="case-form" form-id="{{data.formId}}"></case-form>
  </div>
  <div ng-show="errorMsg" class="error-box">
    <div class="alert alert-warning" role="alert">ไม่พบหน้า "ร่วมฟ้อง" นี้</div>
  </div>
</div>
