<div class="step-list">
  <ul class="list">
    <li class="content-right" data-index="0">
      <div class="num"><span>1</span></div>
      <div class="stepCnt">
        <h3>Make your mark</h3>
        <p>Pin your location and enter the destination.</p>
      </div>
      
    </li>
    <li data-index="1" class="content-left active">
      <div class="num"><span>2</span></div>
      <div class="stepCnt">
        <h3>Sit back and Relax</h3>
        <p>Touch up your make up. Catch up with work email. Your driver is on his way.</p>
      </div>
    </li>
    <li data-index="2" class="content-right">
      <div class="num"><span>3</span></div>
      <div class="stepCnt">
        <h3>Stay on track</h3>
        <p>Live GPS feed allows you to track your driver and manage your time.</p>
      </div>
    </li>
    <li data-index="3" class="content-left">
      <div class="num"><span>4</span></div>
      <div class="stepCnt">
        <h3>Arrive Safety</h3>
        <p>Pay with cash or credit card. Rate and comment your driver for the improvement.</p>
      </div>
    </li>
  </ul>
</div>