<div class="step-list container">
  <div class="row" style="margin-top: 20px;">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 canvas-red">
        <div class="about-box">
            <img src="xxx" alt="ส่งเรื่องร้องเรียน">
            <p>ถ้าคุณมีปัญหาที่อยากร้องเรียน ส่งเรื่องของคุณมา เดี๋ยวเราจัดการให้</p>
        </div>
    </div><!-- end column -->
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 bg-white">
        <div class="about-box">
        </div>
    </div><!-- end column -->
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 bg-white">
        <div class="about-box">
            <img src="yyyy">
        </div>
    </div><!-- end column -->

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 canvas-red">
        <div class="about-box">
             <img src="zzz" alt="ทำใจให้สบาย รอการติดต่อกลับ">
            <p>ถ้าเรื่องร้องเรียนของคุณ สามารถรวมกลุ่มดำเนินคดีได้ <br>เราจะติดต่อกลับไป</p>
        </div>
    </div><!-- end column -->


    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 canvas-red">
        <div class="about-box">
            <img src="zzzz" alt="ส่งข้อมูลหลักฐาน เพิ่มโอกาสชนะ">
            <p>เราขอหลักฐานและเอกสารเพิ่มเติม เพื่อเพิ่มโอกาสชนะคดี</p>
        </div>
    </div><!-- end column -->

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 bg-white">
        <div class="about-box">
        </div>
    </div><!-- end column -->

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 bg-white">
        <div class="about-box">
            <img src="aaa.png">
        </div>
    </div><!-- end column -->

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 canvas-red">
        <div class="about-box">
            <img src="bb" alt="รอรับเงิน">
            <img src="cc">
            <p>เมื่อทนายความชนะคดี คุณรอรับเงินค่าเสียหายได้เลย!</p>
        </div>
    </div><!-- end column -->

  </div>
</div>