<div class="step-list">
  <div class="steps flex-item">
    <img style="margin-top: 50px;" class="step" src="/assets/images/marketing/step1.png" alt="กรอกข้อมูลที่คุณไม่ได้รับความเป็นธรรม และ ส่งให้ ฟ้องได้">
    <img class="arrow" src="/assets/images/arrowdown.png">
    <img class="step" src="/assets/images/marketing/step2.png" alt="ฟ้องได้ จับคู่ทนายตามความเหมาะสมและติดต่อกลับ เพื่อให้ความช่วยเหลือ">
    <img style="margin-right: 40px;" class="arrow-l" src="/assets/images/arrowdown.png">
    <img class="arrow-r" src="/assets/images/arrowdown.png">
    <div class="or-wrapper">
      <img class="step or" src="/assets/images/marketing/step3.png" alt="ฟ้องเป็นกลุ่ม ฟรี! ไม่มีค่าใช้จ่าย">
      <img class="step or" src="/assets/images/marketing/step4.png" alt="จัดหาทนายอย่างมืออาชีพ ในราคาที่เหมาะสม">
    </div>
    <img style="margin-right: 40px;" class="arrow-r" src="/assets/images/arrowdown.png">
    <img class="arrow-l" src="/assets/images/arrowdown.png">
    <img style="margin-bottom: 50px;" class="step" src="/assets/images/marketing/step5.png" alt="ทุกฝ่ายได้รับความเป็นธรรม และมีสังคมที่ดีขึ้น">
  </div>
</div>
