.step-list {
  background-color: @lightred01;
  display: flex;
  .flex-flow(row, wrap);
  .align-items(center);
  min-height: @imgMinHeight;
  .arrow-l {
    -ms-transform: rotate(40deg); /* IE 9 */
    -webkit-transform: rotate(40deg); /* Chrome, Safari, Opera */
    transform: rotate(40deg);
  }
  .arrow-r {
    -ms-transform: rotate(320deg); /* IE 9 */
    -webkit-transform: rotate(320deg); /* Chrome, Safari, Opera */
    transform: rotate(320deg);
  }
  .steps {
    text-align: center;
    margin: auto 1%;
    img.step {
      display: block;
      width: 80%;
      margin: 0 auto;
      opacity: 1;
      z-index: 20;
      &.or {
        display: inline-block;
        width: 38%;
        margin: auto 5%;
      }
    }

    .or-wrapper {
      display: block;
      margin: 0 auto;
    }

    @media screen and (min-width: 700px) and (max-width: 900px) {
      margin: auto 5%;
      img.step {
        width: 70%;
        &.or {
          width: 35%;
          margin: auto 7%;
        }
      }
    }
    @media screen and (min-width: 900px) and (max-width: 1000px) {
      margin: auto 10%;
      img.step {
        width: 60%;
        &.or {
          width: 30%;
          margin: auto 9%;
        }
      }
    }
    @media screen and (min-width: 1000px) and (max-width: 1300px) {
      margin: auto 15%;
      img.step {
        width: 50%;
        &.or {
          width: 25%;
          margin: auto 10%;
        }
      }
    }
    @media screen and (min-width: 1300px) {
      margin: auto 15%;
      img.step {
        width: 40%;
        &.or {
          width: 20%;
          margin: auto 12%;
        }
      }
    }
  }
}
