.step-list {
  .canvas-red {
    background: @red;
    border-radius: 5px;
  }
  .row div {
    padding: 0 20px;
    color:#000;
    min-height: 100px
  }
  .about-box {
    margin: 20px 0;
    color:#999999;
    padding:0;
  }
}