.catalog-floatlist {
  .list {
    float: left;
    min-height: 380px;

    -webkit-animation-name: scaleIn;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-duration: 0.6s;

    animation-name: scaleIn;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 0.6s;

    .timestamp {
      margin-top: -5px;
      font-size: 7px;
    }

    .image-ctn {
      padding-bottom: 20px;
      @media (max-width: @screen-sm-min) {
        text-align: center;
      }
    }

    .text-ctn {
      .headline-text {
        font-size: 22px;
        @media (max-width: @screen-sm-min) {
          text-align: center;
        }
      }

      .brief-text {
        font-family: sans-serif;
        font-size: 14px;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
    }

    @media (max-width: 400px) {
      min-height: auto;
      margin-bottom: 30px;
    }

    img.image-block {
      width: 320px;
      height: 240px;
      margin: auto;
      border-radius: 5%;

      @media (max-width: 400px) {
        width: 100%;
        height: auto;
        border-radius: 0;
      }

      .transition(all 1s ease);
      &:hover {
        -webkit-transform:scale(1.05); /* Safari and Chrome */
        -moz-transform:scale(1.05); /* Firefox */
        -ms-transform:scale(1.05); /* IE 9 */
        -o-transform:scale(1.05); /* Opera */
         transform:scale(1.05);
      }
    }
  }
}
