<div class="catalog-floatlist container" ng-if="dataReady">
  <div class="row clearfix">
    <div ng-repeat="(key, value) in list" class="list col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <div class="content-container">
        <div class="image-ctn">
          <a style="padding-left:20px;" href="/news/{{value.id}}"><img class="image-block" ng-src="{{value.img}}"></a>
        </div>
        <div class="text-ctn">
          <div class="headline-text"><a href="/news/{{value.id}}">{{value.headlineText}}</a></div>
          <div class="brief-text">{{value.briefText}}</div>
        </div>
      </div>
      <!-- <div class="timestamp">{{value.date}}</div> -->
    </div>
  </div>
</div>
