<div class="catalog-floatlist container" ng-if="dataReady">
  <div class="row">
    <div ng-repeat="(key, value) in list" class="list col-md-4 col-sm-6 col-xs-12">
      <div class="content-container">
        <a href="/news/{{value.newsId}}">
          <div style="padding-left:20px;"><img class="image-block" ng-src="{{value.img}}"></div>
          <div class="clear padding-top10"></div>
          <h4 class="headline-text">{{value.headlineText}}</h4>
        </a>
        <div class="font-normal-gray">
          <p>{{value.briefText}}</p>
        </div>
      </div>
      <div class="timestamp">{{value.date}}</div>
    </div>
  </div>
</div>