.slider-container {
  .slider-header {
    background-color: @grey02;
    color: #2D5466;
    display: block;
    position: relative;
    font-family: 'bebas_neueregular';
    font-size: 25px;
    line-height: 45px;
    font-weight: normal;
    padding-left: 20px;
    margin-bottom: 0px;
    letter-spacing: 0px;
    border-top: 1px solid #d6d7d9;
    border-left: 1px solid #d6d7d9;
    border-right: 1px solid #d6d7d9;
  }

  .carousel-inner {
    .item {
      height: 150px;
      .content {
        height: 150px;
        background-color: @grey01;
        padding: 5px;
      }
    }
  }
}