.cases-list {
  .section {
    min-height: 200px;
    .content-container {
      > div {
        &.section {
          height: 100%;
          padding: 20px 10px;
        }
      }
      width: 100%;
    }
  }
  .image-section {
    min-width: 200px;
    .image-block {
      display: block;
      width: 100%;
      max-width: 250px;
    }
  }
  .text-section {
    min-width: 200px;
    margin-top: 20px;
    h4 {
      line-height: 24px;
    }
  }
}
