<div class="cases-list">
  <div class="clearfix">
    <div ng-show="dataReady && !errorMsg">
      <div ng-repeat="(key, value) in list" ng-class="{ 'bg-grey' : (key % 2) === 1 }" class="section-block col-md-12 col-sm-12 col-xs-12">

        <div class="content-container">
          <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 section image-section">
            <div class="image-ctn">
              <a href="/ร่วมฟ้อง/{{value.code}}"><img class="image-block" ng-src="{{value.img}}"></a>
            </div>
            <div class="text-ctn">
              <div class="headline-text"><a href="/ร่วมฟ้อง/{{value.code}}">{{value.headlineText}}</a></div>
              <!-- <div class="brief-text">{{value.briefText}}</div> -->
            </div>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12 section text-section">
            <div>{{value.teaser}}</div>
            <div class="icons">
              <div class="icon">
                <div class="icon-wrap">
                  <div class="amount">{{sCount}}</div>
                  <img class="icon-link" ng-click="" src="/assets/images/sys/icon_people.png">
                </div>
                <div class="icon-desc">ผู้ร่วมฟ้องขณะนี้</div>
              </div>
              <!-- <div class="icon">
                <div class="icon-wrap"><img class="icon-link" ng-click="" src="/assets/images/sys/icon_comment.png"></div>
                <div class="icon-desc">ความคิดเห็น</div>
              </div>
              <div class="icon">
                <div class="icon-wrap">
                  <div class="amount">43</div>
                  <img class="icon-link" ng-click="" src="/assets/images/sys/icon_fighting.png"></i>
                </div>
                <div class="icon-desc">ให้กำลังใจ</div>
              </div> -->
              <div class="icon">
                <div class="icon-wrap"><img class="icon-link link" ng-click="shareFB(value.code)" src="/assets/images/sys/icon_share.png"></div>
                <div class="icon-desc">บอกต่อ</div>
              </div>
            </div>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
        </div>
        <div class="clear padding-top10"></div>
      </div>
    </div>
    <div ng-show="errorMsg" class="error-box"">
      <div class="alert alert-warning" role="alert">{{errorMsg}}</div>
    </div>
  </div>
</div>
