<div class="cases-list container" ng-if="dataReady">
  <div class="row">
    <div ng-repeat="(key, value) in list" class="list col-md-12 col-sm-12 col-xs-12">
      <div class="content-container">
        <div style="padding-left:20px;" class="col-md-4 col-sm-5 col-xs-6">
          <img class="image-block" ng-src="{{value.img}}">
        </div>
        <div class="col-md-8 col-sm-6 col-xs-5" style="padding-left:10px;">
          <h4 class="font-title block-padtop">{{value.headlineText}}</h4>
          <div class="font-normal-gray block-padtop">
            <p>{{value.briefText}}</p>
          </div>
        </div>
      </div>
      <div class="clear padding-top10"></div>
    </div>
  </div>
</div>
