<div id="admin-view" class="app-container" >
  <md-content ng-if="dataReady" class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-md="50" layout="row">
      <md-card ng-repeat="(key, value) in list">
        <a href="/news/{{value.id}}"><img style="width: 100%;" ng-src="{{value.img}}" class="md-card-image" alt="Washed Out"></a>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{value.headlineText}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          {{value.briefText}}
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Edit</md-button>
          <md-button>Delete</md-button>
        </md-card-actions>
      </md-card>
    </div>
  </md-content>
</div>
