<style>

h2 {
    font-size: 26px;
    padding-left: 20px;
    padding-top: 0px;    
    line-height: 34px;
    letter-spacing: -1px;
}



img{
     
    float: left;
    vertical-align: top;
    margin: 7px 7px 7px 7px; 
}

.favbtn  {
    color: #fff;
    background: #00ab51;
    font-size: 16px;    
    border: 2px solid #00ab51;
    padding: 5px 12px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;    
}

.favbtn:hover {
    color: green;
    background: #ffffff;    
text-decoration: none;    
}

.favbtn a {
    background: #ffffff;    
    text-decoration: none;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.box-headline {
    font-size: 26px;
    padding-left: 20px;
    padding-top: 0px;    
    line-height: 34px;
    letter-spacing: -1px;
    background: #415463;
    color: #ffffff;
    display: block;
    position: relative;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 27px;
    padding-top: 14px;
    padding-bottom: 10px;
    font-weight: normal;
    padding-left: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    letter-spacing: .5px;
}

.box-detail-headline {
    font-size: 26px;
    line-height: 34px;
    letter-spacing: -1px;
    color: #ffffff;
    display: block;
    position: relative;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 27px;
    font-weight: normal;
    letter-spacing: .5px;
}

.box-detail{
    padding: 20px 20px 10px 20px;
    background: whitesmoke;
    margin-right: 0px;
    margin-bottom: 0px;
    width: 100%;
    min-height: 220px    
}

.box-detail-inner {
    min-height: 200px;    
}


h2 {
    font-size: 26px;
    padding-left: 20px;
    padding-top: 0px;    
    line-height: 34px;
    letter-spacing: -1px;
}

</style>

<h2>{{data.headlineText}}</h2>
 <div class="panel panel-default" style="margin:10px 10px 10px 10px;width:95%">
      <div class="panel-heading" style="background: #415463;border-color:#415463" ><font class="box-detail-headline">WHO’S AFFECTED</font></div>
      <div class="panel-body " >
        <div class="box-detail">
            <div class="box-detail-inner">
                <img src="{{data.img}}" width="240" height="180" style="margin-top:0px">
                {{data.briefText}}        
            </div>
            <p style="margin:10px 0px 10px 0px;align:left;">
                <a href="/member-home/my-favorites/?szbl-favorite=342601&amp;hash=eefc029dfb" class="favbtn">JOIN INVESTIGATION</a>
            </p>            
        </div>
       
        <div ng-bind-html="detail"></div>
        <p style="margin:20px 0px 10px 0px;align:left;">
            <a href="/member-home/my-favorites/?szbl-favorite=342601&amp;hash=eefc029dfb" class="favbtn">JOIN INVESTIGATION</a>        
        </p>                    
       </div>      
</div>

