<div id="main" class="app-container">
  <simple-header bg-red="true"></simple-header>
  <section id="submenu">
    <submenu></submenu>
  </section>
  <section id="introduction">
    <intro-slider no-filter="true" hide-indicator="true"></intro-slider>
  </section>
  <section id="how-to">
    <div style="background-color: white; height:700px;">
      <p style="font-size: 46px;" align="center">How It Works</p>
    </div>
  </section>
  <section id="ca-preview">
    <div style="background-color: grey; height:500px;"><p style="font-size: 46px;" align="center">Case Preview</p></div>
  </section>
  <section id="join-us">
    <div style="background-color: white; height:300px;"><p style="font-size: 46px;" align="center">Join Us</p></div>
  </section>
  <section id="articles">
    <div style="background-color: grey; height:500px;"><p style="font-size: 46px;" align="center">Articles</p></div>
  </section>
  <section id="sitemap">
    <div style="background-color: white; height:200px;"><p style="font-size: 46px;" align="center">SiteMap</p></div>
  </section>

</div>
