<div id="main" class="app-container">
  <section id="intro">
    <div class="intro-container">
      <div class="title-container">
        <img class="wide" src="/assets/images/sys/head-wide.png" alt="ฟ้องได้ รวมกลุ่มฟ้องง่ายๆ">
        <img class="wrap" src="/assets/images/sys/head-wrap.png" alt="ฟ้องได้ รวมกลุ่มฟ้องง่ายๆ">
      </div>
    </div>
  </section>
  <section id="how-to">
    <step-list></step-list>
  </section>
  <section id="articles">
    <div class="articles-container">
    <articles-list catalog="all" count="3"></articles-list>
    <p style="font-size: 36px;" align="center"><a href="/news/catalog/all">อ่านเพิ่มเติม</a></p>
    </div>
  </section>
  <section id="join-us">
    <div>
      <register-box></register-box>
    </div>
  </section>

</div>
