<div id="main" class="app-container">
  <section id="intro">
    <div class="intro-container">
      <div class="flex-item">
        <simple-header bg-red="true"></simple-header>
      </div>
      <div class="flex-item">
        <img class="title" src="/assets/images/marketing/title.jpg">
      </div>
    </div>
  </section>
  <section id="how-to">
    <div class="how-to-container">
      <img class="step" src="/assets/images/marketing/step.png">
    </div>
  </section>
  <section id="ca-preview">
    <div style="background-color: grey; height:500px;"><p style="font-size: 46px;" align="center">Case Preview</p></div>
  </section>
  <section id="join-us">
    <div style="background-color: white; height:300px;"><p style="font-size: 46px;" align="center">Join Us</p></div>
  </section>
  <section id="articles">
    <div style="background-color: grey; height:500px;"><p style="font-size: 46px;" align="center">Articles</p></div>
  </section>
  <section id="sitemap">
    <div style="background-color: white; height:200px;"><p style="font-size: 46px;" align="center">SiteMap</p></div>
  </section>

</div>
