.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

// topography
.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

.nowrap {
  white-space:nowrap !important;
}

.small-font {
  font-size: 90%;
}

.big-font {
  font-size: 110%;
}

table {
  th {
    white-space: nowrap;
  }
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.dis, a.dis:hover, .dis a, a[disabled] {
  color: grey !important;
  cursor: default !important;
}
