@import 'prerequisite';

@font-face {
  font-family: 'Thai Sans Neue';
  src:url("../fonts/ThaiSansNeue-Regular.ttf") format("truetype");
}

@imgMinHeight: 670px;

.font-set {
  font-family: @fontSet;
}

body {
  .font-set;
  font-size: 18px;
  letter-spacing: 0px;
}

.app-container {
  width: 100%;
  position: relative;
  background-color: #ffffff;
  color: black;
  margin: 0px auto;
  padding: 0px 0px;
  .border-radius(5px);

  .intro-container {
    background-color: @red;
    .displayFlex;
    .flex-flow(row, wrap);
    .align-items(flex-start);
    min-height: @imgMinHeight - 200px;

    .title-container {
      width: 100%;
      padding: 50px 10% 0px 10%;

      img {
        width: 100%;
        height: 100%;
        margin: auto;
        padding-bottom: 50px;
        @media screen and (min-width: 750px) and (max-width: 1100px) {
          width: auto;
        }

        @media screen and (max-width: @imgMinHeight){
          padding-top: 50px;
        }

        &.wide {
          display: block;
        }
        &.wrap {
          display: none;
        }
        @media screen and (max-width: 1100px){
          &.wide {
            display: none;
          }
          &.wrap {
            display: block;
          }
        }
      }
    }
  }

  .cases-container {
    background-color: @lightred02;
    .displayFlex;
    .flex-flow(column, wrap);
    .justify-content(space-around);
  }

  .articles-container {
    background-color: @lightred02;
    .displayFlex;
    .flex-flow(column, wrap);
    .justify-content(space-around);
  }
}

.sitemap-container {
  background-color: @greySitemap;
  min-height: 300px;
}

.content-block {
  display: block;
  margin-top: 20px;
}

@-moz-keyframes scaleIn {
  0% {
    -moz-transform: scale(0.7);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@-webkit-keyframes scaleIn {
  0% {
    -webkit-transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@keyframes scaleIn {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
